
.elementor-widget-container {
	.tutor-segment-title {
		font-size: 20px;
		margin: 0;
	}
	.etlms-lead-info {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		label {
			margin-bottom: 0;
		}
	}
	.tutor-single-course-segment {
		margin-bottom: 0;
		margin-top: 0;
	}
	.tutor-wrap {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.elementor-align-left {
	.etlms-lead-info {
		justify-content: flex-start;
	}
	.etlms-author {
		align-items: flex-start;
		justify-content: flex-start;
	}
	.etlms-course-specification-items {
		li {
			justify-content: flex-start;
		}
	}
}
.elementor-align-right {
	.etlms-lead-info {
		justify-content: flex-end;
	}
	.etlms-course-price {
		>.price {
			>.price {
				justify-content: flex-start;
			}
		}
	}
	.etlms-author {
		align-items: flex-end;
		justify-content: flex-end;
	}
	.etlms-course-specification-items {
		li {
			justify-content: flex-end;
		}
	}
	.etlms-single-instructor-bottom {
		justify-content: flex-end;
		column-gap: 15px;
	}
}
.elementor-align-center {
	.etlms-lead-info {
		justify-content: center;
	}
	.etlms-course-price {
		>.price {
			>.price {
				justify-content: center;
			}
		}
	}
	.etlms-author {
		align-items: center;
		justify-content: center;
	}
	.etlms-course-specification-items {
		li {
			justify-content: center;
		}
	}
	.etlms-single-instructor-bottom {
		justify-content: center !important;
		column-gap: 15px;
	}
}
.elementor-layout-up {
	.etlms-lead-info {
		flex-direction: column;
		strong {
			display: block;
		}
	}
	.etlms-author {
		flex-direction: column;
	}
	.etlms-single-course-meta-categories {
		a {
			display: block;
		}
	}
	.etlms-course-instructors-wrap {
		.tutor-instructor-right {
			flex-direction: column;
		}
	}
}
.elementor-layout-up.elementor-align-left {
	.etlms-lead-info {
		align-items: flex-start;
	}
}
.elementor-layout-up.elementor-align-right {
	.etlms-lead-info {
		align-items: flex-end;
	}
}
.etlms-rating {
	margin-bottom: 0 !important;
}
.etlms-course-title {
	h2 {
		font-size: 30px;
		font-weight: bold;
		margin: 0;
	}
}
.etlms-course-price {
	>.amount {
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
	}
	>.price {
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		>.price {
			display: flex;
			flex-direction: row;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
		}
	}
	.price {
		ins {
			text-decoration: none;
		}
	}
	del {
		.amount {
			font-size: 16px;
			font-weight: normal;
			margin-left: 10px;
		}
	}
}
.etlms-author {
	display: flex;
	p {
		display: inline-block;
		text-align: center;
	}
	span {
		display: inline-block;
		text-align: center;
	}
	.tutor-single-course-author-name {
		p {
			margin-bottom: 0;
		}
	}
}
.elementor-layout-left {
	.etlms-author {
		align-items: center;
	}
	.etlms-course-instructors-wrap {
		.tutor-instructor-right {
			flex-direction: row;
		}
	}
}
.etlms-author-layout-up {
	.tutor-single-course-author-name {
		display: block;
	}
}
.etlms-course-level {
	.tutor-single-course-meta.tutor-meta-top {
		ul {
			padding: 0;
			li {
				width: 100%;
			}
		}
	}
}
.etlms-course-status {
	.etlms-segment-title {
		margin-bottom: 5px;
	}
}
.etlms-progress-bar-wrap {
	position: relative;
	height: 25px;
}
.etlms-progress-bar {
	width: 100%;
	background-color: #eeeeee;
	height: 100%;
	border-radius: 10px;
}
.etlms-progress-filled {
	background-color: #66cd74;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.etlms-progress-percent {
	h4 {
		margin: 0;
		font-size: 18px;
	}
}
.etlms-progress-outside {
	display: flex;
	.etlms-progress-percent {
		display: flex;
		align-items: center;
		margin-left: 10px;
		flex-basis: 8%;
	}
}
.etlms-progress-inside {
	.etlms-progress-percent {
		display: flex;
		align-items: center;
		position: absolute;
		height: 100%;
		left: 50%;
		bottom: 0;
	}
}
.etlms-progress-ontop {
	display: flex;
	flex-direction: column-reverse;
	.etlms-progress-percent {
		position: absolute;
		right: 0;
	}
}
.tutor-course-thumbnail {
	overflow: hidden;
	.tutor-lesson-video-wrap {
		margin-bottom: 0;
		>.plyr__video-embed {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			>iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.etlms-course-specifications {
	h3 {
		font-size: 18px;
		line-height: 23px;
		font-weight: 500;
		margin-bottom: 13px;
		color: #000;
		margin: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			i {
				color: var(--tutor-primary-color);
				line-height: 1.6;
			}
		}
	}
}
.etlms-course-specifications-left {
	justify-content: flex-start;
}
.etlms-course-tags {
	.tutor-course-tags {
		a {
			border: 1px solid #E1EBF0;
		}
	}
}
.etlms-single-instructor-wrap {
	width: 100%;
	margin-bottom: 0;
	p {
		margin-bottom: 15px;
	}
	.tutor-instructor-left {
		padding-right: 15px;
	}
	.tutor-instructor-right {
		display: flex;
		.instructor-name {
			padding-left: 0;
			flex: 0 0 35%;
			font-size: 18px;
		}
	}
	.single-instructor-wrap {
		.instructor-name {
			h3 {
				font-size: 18px;
			}
		}
	}
	.instructor-name {
		p {
			font-size: 16px;
		}
	}
	.instructor-avatar {
		span.tutor-text-avatar {
			min-width: 10px;
			min-height: 10px;
			font-size: calc(48px/2);
			border-radius: 50%;
		}
	}
}
.etlms-single-instructor-bottom {
	display: flex;
	column-gap: 15px;
}
.elemntor-align-left {
	.etlms-single-instructor-bottom {
		justify-content: flex-start;
		column-gap: 15px;
	}
}
.etlms-course-curriculum.etlms-topic-icon-align-left {
	.tutor-accordion-item-header {
		&::after {
			position: inherit !important;
			left: 10px;
		}
	}
}
.etlms-course-curriculum {
	.etlms-course-topic {
		border: 1px solid #E1EBF0;
	}
	.tutor-course-topics-header {
		margin-bottom: 0;
	}
	.tutor-course-lessons {
		.tutor-course-lesson {
			h5 {
				i {
					height: auto;
					width: auto;
					line-height: 1.2;
					margin-right: 10px;
					&:after {
						background: none;
					}
				}
			}
		}
	}
}
.etlms-course-topic {
	overflow: hidden;
	.etlms-course-curriculum-title {
		cursor: pointer;
	}
}
#topic-toggle {
	background: #ccc;
	color: #fff;
	height: 15px;
	width: 15px;
	text-align: center;
	display: inline-block;
	line-height: 15px;
	font-size: 15px;
	border-radius: 50%;
}
.etlms-topic-icon-align-left {
	.etlms-course-curriculum-title {
		>h4 {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			column-gap: 3px;
			margin: 0;
		}
	}
}
.etlms-topic-icon-align-right {
	.etlms-course-curriculum-title {
		>h4 {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			column-gap: 8px;
			margin: 0;
		}
	}
}
.tutor-star-rating-group {
	i {
		&:nth-child(5) {
			margin-right: 0;
		}
	}
}
.etlms-course-reviews {
	.course-avg-rating {
		margin-bottom: 10px;
	}
	.course-avg-rating-wrap {
		padding: 30px 20px 20px 30px;
	}
	.tutor-col-auto {
		text-align: center;
		padding-right: 40px;
	}
	.course-rating-meter {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		.rating-meter-bar {
			margin-top: 0;
		}
	}
	.rating-meter-bar-wrap {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 70%;
		flex: 0 0 70%;
	}
	.rating-meter-col.rating-text-col {
		margin-left: 25px;
	}
	.tutor-course-enrolled-review-wrap {
		margin-top: 25px;
	}
	.review-time-name {
		p.review-meta {
			padding-left: 0;
			padding-top: 0;
		}
	}
}
.etlms-review-individual-item {
	display: flex;
	padding: 30px;
	border-top: 1px solid #e8eff1;
	p {
		margin: 0;
	}
	.etlms-review-left {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 23%;
		flex: 0 0 23%;
		.review-time-name {
			h4 {
				font-size: 16px;
				font-weight: 500;
				line-height: 1;
				margin: 0;
			}
		}
		.review-meta {
			font-size: 13px;
		}
	}
	.etlms-review-avatar {
		margin-bottom: 15px;
		span {
			display: block;
			text-align: center;
		}
	}
}
.etlms-review-content {
	.individual-review-rating-wrap {
		margin-bottom: 8px;
	}
}
#single-course-ratings {
	margin-top: 0;
}
.tutor-course-reviews-wrap {
	border: 1px solid #e8eff1;
	border-radius: 4px;
	margin-top: 0;
}
.etlms-carousel-main-wrap {
	padding: 0px;
	.slick-track {
		display: flex !important;
		position: relative !important;
		top: 5px !important;
	}
	.slick-slide {
		height: inherit !important;
	}
	.price {
		display: flex;
		align-items: center;
		column-gap: 7px;
	}
	.tutor-loop-author {
		overflow: initial;
	}
	.tutor-star-rating-group {
		i {
			font-size: 18px;
			color: #ed9700;
		}
	}
	.tutor-course-wishlist {
		background: rgba(33,35,39,0.4);
		color: #fff;
		border: none;
		border-radius: 50%;
		font-size: 20px;
		text-align: center;
		padding: 8px;
		margin: 1px;
		cursor: pointer;
		&:hover {
			background-color: #3e64de;
		}
		a {
			color: #fff;
		}
	}
	.tutor-course-lising-category {
		.tutor-text-medium-caption {
			color: #212327;
		}
		.tutor-color-text-subsued {
			color: #5b616f;
		}
	}
	.tutor-loop-course-footer {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}
.etlms-course-list-main-wrap {
	padding: 0px;
	.price {
		display: flex;
		align-items: center;
		column-gap: 7px;
	}
	.tutor-loop-author {
		overflow: initial;
	}
	.tutor-star-rating-group {
		i {
			font-size: 18px;
			color: #ed9700;
		}
	}
	.tutor-course-wishlist {
		background: rgba(33,35,39,0.4);
		color: #fff;
		border: none;
		border-radius: 50%;
		font-size: 20px;
		text-align: center;
		padding: 8px;
		margin: 1px;
		cursor: pointer;
		&:hover {
			background-color: #3e64de;
		}
		a {
			color: #fff;
		}
	}
	.tutor-course-lising-category {
		.tutor-text-medium-caption {
			color: #212327;
		}
		.tutor-color-text-subsued {
			color: #5b616f;
		}
	}
	.tutor-loop-course-footer {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}
.etlms-carousel-loop-wrap {
	.slick-dots {
		li {
			margin: 0;
		}
	}
}
.etlms-card {
	overflow: hidden;
	.tutor-course-wishlist {
		width: 38px;
		height: 38px;
		border-radius: 100%;
	}
}
.etlms-coursel-overlayed {
	.tutor-course-header {
		a {
			img {
				min-height: 300px;
				object-fit: cover;
				object-position: center;
			}
		}
		height: 100%;
	}
	.etlms-card.hover-animation {
		position: relative;
		top: 0;
		transition: top .5s;
		z-index: 999;
		&:hover {
			top: -5px;
		}
	}
	.etlms-card {
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
		position: relative;
		min-height: 300px;
		height: auto;
		&:hover {
			box-shadow: 0px 8px 28px 0px #d0d0d0;
		}
		&:before {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 3;
			transition: .4s;
		}
	}
	.etlms-carousel-course-container {
		position: absolute;
		z-index: 99;
		width: 100%;
		bottom: 0 !important;
	}
	.tutor-rating-count {
		color: #fff;
	}
	.tutor-course-loop-title {
		h2 {
			a {
				color: #fff;
			}
		}
	}
	.tutor-course-loop-meta {
		color: #fff;
	}
	.tutor-loop-author {
		>div {
			a {
				color: #fff;
			}
		}
	}
	.price {
		color: #fff;
	}
	.tutor-course-listing-item-footer {
		.list-item-button {
			.tutor-btn.tutor-btn-ghost {
				color: #7A7A7A;
			}
			.product_type_external {
				.btn-icon {
					color: #7A7A7A;
				}
				.cart-text {
					color: #7A7A7A;
				}
			}
		}
		.list-item-price-with-booking {
			.list-item-booking {
				>* {
					color: #fff !important;
				}
			}
		}
	}
	.list-item-button {
		.product_type_external {
			color: #7A7A7A !important;
		}
	}
	.tutor-loop-course-footer {
		border-color: #ffffff3b !important;
	}
	.tutor-course-lising-category {
		.tutor-text-medium-caption {
			color: #fff !important;
		}
	}
}
.etlms-course-list-overlayed {
	.tutor-course-header {
		a {
			img {
				min-height: 300px;
				object-fit: cover;
				object-position: center;
			}
		}
		height: 100%;
	}
	.etlms-card.hover-animation {
		position: relative;
		top: 0;
		transition: top .5s;
		z-index: 999;
		&:hover {
			top: -5px;
		}
	}
	.etlms-card {
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 20px;
		position: relative;
		min-height: 300px;
		height: auto;
		&:hover {
			-webkit-box-shadow: 0px 8px 28px 0px #d0d0d0;
			box-shadow: 0px 8px 28px 0px #d0d0d0;
		}
		&:before {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 3;
			transition: .4s;
		}
	}
	.etlms-carousel-course-container {
		position: absolute;
		z-index: 99;
		width: 100%;
		bottom: 0 !important;
	}
	.tutor-rating-count {
		color: #fff;
	}
	.tutor-course-loop-title {
		h2 {
			a {
				color: #fff;
			}
		}
	}
	.tutor-course-loop-meta {
		color: #fff;
	}
	.tutor-loop-author {
		>div {
			a {
				color: #fff;
			}
		}
	}
	.price {
		color: #fff;
	}
	.tutor-course-listing-item-footer {
		.list-item-button {
			.tutor-btn.tutor-btn-ghost {
				color: #7A7A7A;
			}
			.product_type_external {
				.btn-icon {
					color: #7A7A7A;
				}
			}
		}
		.list-item-price-with-booking {
			.list-item-booking {
				>* {
					color: #fff !important;
				}
			}
		}
	}
	.list-item-button {
		.product_type_external {
			color: #7A7A7A !important;
		}
	}
	.tutor-loop-course-footer {
		border-color: #ffffff3b !important;
	}
	.tutor-course-lising-category {
		.tutor-text-medium-caption {
			color: #fff !important;
		}
	}
}
.etlms-course-list {
	.tutor-courses-wrap {
		margin: 0;
	}
}
.etlms-course-carousel {
	.tutor-courses-wrap {
		margin: 0;
	}
	div[class*="tutor-course-col"] {
		margin-bottom: 15px;
	}
}


.tutor-course-card {
	// classic
	&.etlms-course-card-classic {
		border: 0;
		&.etlms-has-hover-animation {
			box-shadow: 0 4px 15px 4px rgba(39, 57, 101, 0.1) !important;

			&:hover {
				box-shadow: 0 4px 10px rgba(39, 57, 101, 0.12) !important;
			}
		}
	}

	// stacked
	&.etlms-course-card-stacked {
		.tutor-card {
			margin: -80px 30px 0px 30px;
			border: 0;
			box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
			// .tutor-course-thumbnail {
			// 	.tutor-card-image-top {
			// 		border-radius: 6px !important;
			// 	}
			// }

		}
	}

	// overlay
	&.etlms-course-card-overlay {
		.tutor-card {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 100%;
			background-color: transparent;
		}
	}

	// animation
	&.etlms-has-hover-animation {
		transform: translateY(0px);
		transition: 300ms ease-in;

		&:hover {
			transform: translateY(-5px);
		}
	}
}




.etlms-coursel-classic {
	.etlms-card.hover-animation {
		position: relative;
		top: 0;
		transition: top .5s;
		z-index: 999;
		&:hover {
			top: -5px;
		}
	}
	.etlms-card {
		border-radius: 8px;
		border: 1px solid #EBEBEB;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		border-radius: 8px;
		&:hover {
			box-shadow: 0px 5px 2px #ebebeb;
		}
	}
	.tutor-course-header {
		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			content: "";
			z-index: 2;
		}
	}
}
.etlms-coursel-card {
	.etlms-card.hover-animation {
		position: relative;
		top: 0;
		transition: top .5s;
		z-index: 999;
		&:hover {
			top: -5px;
		}
	}
	.etlms-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		overflow: hidden;
		&:hover {
			box-shadow: 0px 24px 34px -5px rgba(0, 0, 0, 0.1);
		}
	}
	.tutor-course-header {
		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			content: "";
			z-index: 2;
		}
	}
}

//@todo: to be removed
.etlms-course-list-stacked-bak {
	.etlms-card.hover-animation {
		.etlms-carousel-course-container {
			position: relative !important;
			top: 0 !important;
			transition: top .5s;
		}
		&:hover {
			.etlms-carousel-course-container {
				top: -5px;
			}
		}
	}
	.tutor-course-header {
		border-radius: 10px;
		overflow: hidden;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
		}
	}
	.etlms-card {
		.tutor-course-header {
			z-index: 1;
		}
		overflow: visible !important;
	}
	.etlms-carousel-course-container {
		z-index: 99;
		margin-top: -80px;
		background: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		border-radius: 10px;
		box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
		&:hover {
			box-shadow: 0px 54px 58px -20px rgba(0, 0, 0, 0.15);
		}
	}
	.etlms-course-list-col {
		.etlms-card.hover-animation {
			box-shadow: none !important;
			&:hover {
				box-shadow: none !important;
			}
		}
	}
}

.etlms-coursel-stacked {
	.etlms-card.hover-animation {
		.etlms-carousel-course-container {
			position: relative !important;
			top: 0 !important;
			transition: top .5s;
		}
		&:hover {
			.etlms-carousel-course-container {
				top: -5px;
			}
		}
	}
	.tutor-course-header {
		border-radius: 10px;
		overflow: hidden;
		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			content: "";
			z-index: 2;
		}
	}
	.etlms-card {
		.tutor-course-header {
			z-index: 1;
		}
		overflow: visible !important;
	}
	.etlms-carousel-course-container {
		z-index: 99;
		margin-top: -80px;
		background: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		border-radius: 10px;
		box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
		&:hover {
			box-shadow: 0px 54px 58px -20px rgba(0, 0, 0, 0.15);
		}
	}
}
.thumbnail-hide {
	.etlms-card {
		display: block !important;
	}
	.etlms-carousel-course-container {
		padding-top: 30px;
	}
}
.etlms-carousel-arrow-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	left: 0px;
	font-size: 20px;
	cursor: pointer;
	margin-left: -10px;
}
.etlms-carousel-arrow-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	right: 0px;
	font-size: 20px;
	cursor: pointer;
	margin-right: -10px;
}
.etlms-carousel-arrow-prev.etlms-carousel-arrow-position-outside {
	margin-left: -40px;
}
.etlms-carousel-arrow-next.etlms-carousel-arrow-position-outside {
	margin-right: -40px;
}
.arrow-ghost {
	text-align: center;
	line-height: 100%;
}
.etlms-carousel-arrow.arrow-ghost {
	>i {
		width: 20px;
		height: 20px;
		border: 1px solid;
	}
}
.etlms-carousel-arrow.arrow-fill {
	>i {
		width: 20px;
		height: 20px;
		background-color: #424242;
		text-align: center;
		line-height: 100%;
		color: #fff;
	}
}
.etlms-masonry.tutor-courses-layout-2 {
	column-count: 2;
	column-gap: 10px;
}
.etlms-masonry.tutor-courses-layout-3 {
	column-count: 3;
	column-gap: 10px;
}
.etlms-masonry.tutor-courses-layout-4 {
	column-count: 4;
	column-gap: 10px;
}
.etlms-masonry.tutor-courses-layout-5 {
	column-count: 5;
	column-gap: 10px;
}
.etlms-masonry {
	.etlms-course-list-col {
		display: inline-block;
		width: auto;
		position: relative;
		top: 5px;
	}
}
.etlms-masonry.etlms-course-list-overlayed {
	.etlms-card {
		height: auto !important;
		min-height: 180px;
	}
}
.etlms-carousel-dots-inside {
	.slick-dots {
		position: initial;
		margin-top: -120px;
	}
}
.etlms-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}
.tutor-course-tags {
	a {
		font-size: 16px;
		line-height: 26px;
		text-decoration: none;
		padding: 7px 23px;
		border: 1px solid #c0c3cb;
		color: #5b616f;
		margin-left: 15px;
		border-radius: 6px;
		-webkit-transition: 200ms;
		transition: 200ms;
	}
}
.list-item-button {
	.product_type_external {
		display: flex;
		align-items: center;
		column-gap: 8px;
		font-size: 16px;
		color: #161616 !important;
		font-weight: 500;
		.btn-icon {
			font-size: 25px !important;
		}
		.cart-text {
			font-size: 15px !important;
		}
	}
}
tutor-course-listing-item-footer.default {
	.list-item-button {
		&:hover {
			.tutor-btn.tutor-btn-ghost {
				.btn-icon {
					color: #000 !important;
				}
			}
		}
	}
}
.etlms-coursel-list-overlayed {
	.tutor-course-listing-item-footer {
		.list-item-button {
			.product_type_external {
				.cart-text {
					color: #7A7A7A;
				}
			}
		}
	}
}
.circle-progress.progress-full {
	&::before {
		position: inherit !important;
	}
}
.tutor-course-header {
	a {
		display: block;
	}
}
.tutor-course-col-2 {
	.tutor-course-header {
		img {
			height: 200px;
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
	.tutor-loop-author {
		display: flex;
		align-items: center;
	}
}
.tutor-course-col-3 {
	.tutor-course-header {
		img {
			height: 200px;
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
}
.tutor-course-loop-title {
	>* {
		>a {
			display: block !important;
			display: -webkit-box !important;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
	}
}
.etlms-carousel-course-container {
	display: grid;
}
.tutor-loop-course-container {
	display: flex;
	flex-direction: column;
}
.tutor-loop-author {
	margin-top: auto;
}
.tutor-course-loop-header-meta {
	z-index: 9999;
}
@media only screen and (min-width: 768px) {
	.etlms-course-list-style {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: nowrap !important;
		height: 255px;
		.tutor-course-header {
			max-width: 40%;
			flex: 0 0 40% !important;
			height: 255px;
		}
		.etlms-carousel-course-container {
			max-width: 60%;
			flex: 0 0 60% !important;
			display: flex;
			flex-direction: column;
		}
		.etlms-carousel-footer {
			margin-top: auto;
		}
	}
	.etlms-course-list-stacked {
		.etlms-course-list-style {
			.etlms-carousel-course-container {
				margin: auto 0 auto -42px;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.elementor-layout--tabletup {
		.tutor-course-level {
			>div {
				display: block;
			}
		}
		.etlms-single-course-meta-categories {
			a {
				display: block;
			}
		}
		.etmls-single-course-meta-duration {
			>a {
				display: block;
			}
		}
	}
	.elementor-layout--tabletleft {
		.tutor-course-level {
			>div {
				display: inline-block;
			}
		}
		.etlms-single-course-meta-categories {
			a {
				display: inline-block;
			}
		}
		.etmls-single-course-meta-duration {
			>a {
				display: inline-block;
			}
		}
	}
	.elementor-align--tabletleft {
		.tutor-course-level {
			text-align: left;
		}
		.etlms-single-course-meta-categories {
			text-align: left;
		}
		.etmls-single-course-meta-duration {
			text-align: left;
		}
		.etlms-course-summary {
			text-align: left;
		}
		.etlms-social {
			justify-content: flex-start;
		}
	}
	.elementor-align--tabletright {
		.tutor-course-level {
			text-align: right;
		}
		.etlms-single-course-meta-categories {
			text-align: right;
		}
		.etmls-single-course-meta-duration {
			text-align: right;
		}
		.etlms-course-summary {
			text-align: right;
		}
		.etlms-social {
			justify-content: flex-end;
		}
	}
	.elementor-align--tabletcenter {
		.tutor-course-level {
			text-align: center;
		}
		.etlms-single-course-meta-categories {
			text-align: center;
		}
		.etmls-single-course-meta-duration {
			text-align: center;
		}
		.etlms-course-summary {
			text-align: center;
		}
		.etlms-social {
			justify-content: center;
		}
	}
	.elementor-align--tabletjustify {
		.etlms-course-summary {
			text-align: justify;
		}
	}
	.etlms-topic-icon-align--tabletleft {
		.etlms-course-curriculum-title {
			>h4 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-assignment-icon-align--tabletleft {
		.etlms-course-assignment {
			h5 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-quiz-icon-align--tabletleft {
		.etlms-course-quiz {
			h5 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-topic-icon-align--tabletright {
		.etlms-course-curriculum-title {
			>h4 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-assignment-icon-align--tabletright {
		.etlms-course-assignment {
			h5 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-quiz-icon-align--tabletright {
		.etlms-course-quiz {
			h5 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-masonry {
		column-count: 2 !important;
		column-gap: 10px;
	}
	.etlms-course-reviews {
		.rating-meter-bar-wrap {
			flex: 0 0 50%;
		}
		.rating-meter-col.rating-text-col {
			margin-left: 5px;
		}
	}
}
@media only screen and (max-width: 576px) {
	.elementor-align--mobileleft {
		text-align: left;
		.tutor-course-level {
			text-align: left;
		}
		.etlms-single-course-meta-categories {
			text-align: left;
		}
		.etmls-single-course-meta-duration {
			text-align: left;
		}
		.etlms-course-summary {
			text-align: left;
		}
		.etlms-social {
			justify-content: flex-start;
		}
		.etlms-lead-info {
			justify-content: flex-start;
		}
		.etlms-author {
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
	.elementor-align--mobileright {
		text-align: right;
		.tutor-course-level {
			text-align: right;
		}
		.etlms-single-course-meta-categories {
			text-align: right;
		}
		.etmls-single-course-meta-duration {
			text-align: right;
		}
		.etlms-course-summary {
			text-align: right;
		}
		.etlms-social {
			justify-content: flex-end;
		}
		.etlms-lead-info {
			justify-content: flex-end;
		}
		.etlms-course-price {
			>.price {
				>.price {
					justify-content: flex-start;
				}
			}
		}
		.etlms-author {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	.elementor-align--mobilecenter {
		text-align: center;
		.tutor-course-level {
			text-align: center;
		}
		.etlms-single-course-meta-categories {
			text-align: center;
		}
		.etmls-single-course-meta-duration {
			text-align: center;
		}
		.etlms-course-summary {
			text-align: center;
		}
		.etlms-social {
			justify-content: center;
		}
		.etlms-lead-info {
			justify-content: center;
		}
		.etlms-course-price {
			>.price {
				>.price {
					justify-content: center;
				}
			}
		}
		.etlms-author {
			align-items: center;
			justify-content: center;
		}
	}
	.elementor-layout--mobileup {
		.tutor-course-level {
			>div {
				display: block;
			}
		}
		.etlms-single-course-meta-categories {
			a {
				display: block;
			}
		}
		.etmls-single-course-meta-duration {
			>a {
				display: block;
			}
		}
		.etlms-lead-info {
			flex-direction: column;
		}
		.etlms-author {
			flex-direction: column;
		}
		.etlms-course-instructors-wrap {
			.tutor-instructor-right {
				flex-direction: column;
			}
		}
	}
	.elementor-layout--mobileleft {
		.tutor-course-level {
			>div {
				display: inline-block;
			}
		}
		.etlms-single-course-meta-categories {
			a {
				display: inline-block;
			}
		}
		.etmls-single-course-meta-duration {
			>a {
				display: inline-block;
			}
		}
		.etlms-author {
			align-items: center;
		}
		.etlms-course-instructors-wrap {
			.tutor-instructor-right {
				flex-direction: row;
			}
		}
	}
	.elementor-align--mobilejustify {
		.etlms-course-summary {
			text-align: justify;
		}
	}
	.elementor-layout--mobileup.elementor-align--mobileleft {
		.etlms-lead-info {
			align-items: flex-start;
		}
	}
	.elementor-layout--mobileup.elementor-align--mobileright {
		.etlms-lead-info {
			align-items: flex-end;
		}
	}
	.etlms-topic-icon-align--mobileleft {
		.etlms-course-curriculum-title {
			>h4 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-assignment-icon-align--mobileleft {
		.etlms-course-assignment {
			h5 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-quiz-icon-align--mobileleft {
		.etlms-course-quiz {
			h5 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				column-gap: 3px;
			}
		}
	}
	.etlms-topic-icon-align--mobileright {
		.etlms-course-curriculum-title {
			>h4 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-assignment-icon-align--mobileright {
		.etlms-course-assignment {
			h5 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-quiz-icon-align--mobileright {
		.etlms-course-quiz {
			h5 {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				column-gap: 8px;
			}
		}
	}
	.etlms-masonry {
		column-count: 1 !important;
		column-gap: 10px;
	}
	.etlms-course-reviews {
		.rating-meter-bar-wrap {
			flex: 0 0 60%;
		}
		.rating-meter-col.rating-text-col {
			margin-left: 5px;
		}
	}
}
