/* Rating */
.etlms-rating {
	margin-bottom: 0 !important;
}

/* Author */
.etlms-author {
	padding-bottom: 0 !important;
}
.etlms-author li {
	width: 100%;
}
.etlms-author p,
.etlms-author span {
	display: inline-block;
}
.etlms-author .tutor-single-course-author-name p {
	margin-bottom: 0;
}
.etlms-author-layout-up .tutor-single-course-author-name {
	display: block;
}

/* Level */
.etlms-course-level .tutor-single-course-meta.tutor-meta-top ul {
	padding: 0;
}
.etlms-course-level .tutor-single-course-meta.tutor-meta-top ul li {
	width: 100%;
}

/* Status */
.etlms-course-status .etlms-segment-title {
	margin-bottom: 5px;
}
.etlms-progress-bar-wrap {
	position: relative;
}
.etlms-progress-bar {
	width: 100%;
	background-color: #eeeeee;
	height: 25px;
	border-radius: 10px;
}
.etlms-progress-filled {
	background-color: #66cd74;
	height: 25px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.etlms-progress-outside {
	display: flex;
}
.etlms-progress-inside .etlms-progress-percent,
.etlms-progress-outside .etlms-progress-percent {
	display: flex;
	align-items: center;
}
.etlms-progress-inside .etlms-progress-percent {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
}
.etlms-progress-outside .etlms-progress-percent {
	margin-left: 10px;
}
.etlms-progress-ontop {
	display: flex;
	flex-direction: column-reverse;
}
.etlms-progress-ontop .etlms-progress-percent {
	position: absolute;
	right: 0;
	top: -32px;
}

/* Specification */
.etlms-course-specifications h3 {
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
	margin-bottom: 13px;
	color: #000;
}
.etlms-course-specifications ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.etlms-course-specifications ul li {
	position: relative;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
}
.etlms-course-specifications ul li i {
	color: var(--tutor-primary-color);
}
.etlms-course-specifications ul li span {
	padding-left: 10px;
}
.etlms-author-specifications-inline .etlms-course-specifications ul li {
	display: inline;
}

/* Enrollment */
.elementor-widget-container .tutor-course-enrollment-box {
	margin-bottom: 0;
}
.elementor-widget-container .tutor-course-enrolled-wrap {
	padding: 10px 0;
}
.etlms-course-enrolment-box .tutor-lead-info-btn-group {
	padding: 0;
	margin: 0 0 20px;
	border-bottom: 0px;
}
.etlms-course-enrolment-box .tutor-course-enrolled-wrap {
	margin: 0 !important;
}
.etlms-course-enrolment-box .tutor-lead-info-btn-group,
.etlms-course-enrolment-box .tutor-lead-info-btn-group form,
.etlms-course-enrolment-box .tutor-course-purchase-box,
.etlms-course-enrolment-box .tutor-course-purchase-box form,
.etlms-course-enrolment-box .tutor-course-enroll-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.etlms-course-enrolment-box.elementor-align-left .tutor-lead-info-btn-group,
.etlms-course-enrolment-box.elementor-align-left .tutor-lead-info-btn-group form,
.etlms-course-enrolment-box.elementor-align-left .tutor-course-purchase-box .etlms-course-enrolment-box.elementor-align-left .tutor-course-purchase-box form,
.etlms-course-enrolment-box.elementor-align-left .tutor-course-enroll-wrap {
	align-items: flex-start;
}
.etlms-course-enrolment-box.elementor-align-right .tutor-lead-info-btn-group,
.etlms-course-enrolment-box.elementor-align-right .tutor-lead-info-btn-group form,
.etlms-course-enrolment-box.elementor-align-right .tutor-course-purchase-box,
.etlms-course-enrolment-box.elementor-align-right .tutor-course-purchase-box form,
.etlms-course-enrolment-box.elementor-align-right .tutor-course-enroll-wrap {
	align-items: flex-end;
}
.etlms-course-enrolment-box.elementor-align-center .tutor-lead-info-btn-group,
.etlms-course-enrolment-box.elementor-align-center .tutor-lead-info-btn-group form,
.etlms-course-enrolment-box.elementor-align-center .tutor-course-purchase-box,
.etlms-course-enrolment-box.elementor-align-center .tutor-course-purchase-box form,
.etlms-course-enrolment-box.elementor-align-center .tutor-course-enroll-wrap {
	align-items: center;
}
.etlms-course-enrolment-box.course-enroll-buttons-size-small button,
.etlms-course-enrolment-box.course-enroll-buttons-size-small .tutor-button {
	padding: 9px 14px;
	line-height: 19px;
}
.etlms-course-enrolment-box.course-enroll-buttons-size-large button,
.etlms-course-enrolment-box.course-enroll-buttons-size-large .tutor-button {
	font-size: 16px;
	display: inline-block;
	line-height: 40px;
}
.etlms-course-enrolment-box.course-enroll-buttons-width-auto button,
.etlms-course-enrolment-box.course-enroll-buttons-width-auto .tutor-button {
	width: fit-content !important;
}
.etlms-course-enrolment-box.course-enroll-buttons-width-fill button,
.etlms-course-enrolment-box.course-enroll-buttons-width-fill .tutor-button {
	width: 100%;
	align-items: center;
	justify-content: center;
}

/*layout css for: course level,categories,duration,total enrollment,last update*/
.elementor-layout-up .etlms-course-level strong,
.elementor-layout-up .etlms-course-duration strong,
.elementor-layout-up .etlms-course-total-enroll strong,
.elementor-layout-up .etlms-course-last-update strong,
.elementor-layout-up .etlms-single-course-meta-categories a {
	display: block;
}
/*course instructor*/

/*flex layout instructors*/
.etlms-single-instructor-wrap {
	width: 100%;
}
.elementor-layout-left .etlms-course-instructors-wrap {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
}
.elementor-layout-up .etlms-course-instructors-wrap {
	display: flex;
	flex-direction: column;
}
.etlms-single-instructor-bottom {
	display: flex;
	column-gap: 15px;
}
.elemntor-align-left .etlms-single-instructor-bottom {
	justify-content: flex-start;
	column-gap: 15px;
}
.elementor-align-right .etlms-single-instructor-bottom {
	justify-content: flex-end;
	column-gap: 15px;
}
.elementor-align-center .etlms-single-instructor-bottom {
	justify-content: center !important;
	column-gap: 15px;
}

/*social share*/
.etlms-social {
	display: flex;
	justify-content: flex-start;
}
.etlms-social-share-wrap .s_facebook {
	color: #fff;
}
.elementor-align-left .etlms-social {
	justify-content: flex-start;
}
.elementor-align-center .etlms-social {
	justify-content: center;
}
.elementor-align-right .etlms-social {
	justify-content: flex-end;
}
.etlms-social-share-wrap > button {
	margin: 0;
	border: none;
	background: transparent;
	color: var(--tutor-light-color);
	-webkit-transition: 300ms;
	transition: 300ms;
	padding: 0 4px;
	cursor: pointer;
}
.etlms-social-share-wrap .s_facebook i {
	color: #fff;
	background-color: #3b5998;
}
.etlms-social-share-wrap .s_twitter i {
	color: #fff;
	background-color: #1da1f2;
}
.etlms-social-share-wrap .s_linkedin i {
	color: #fff;
	background-color: #0077b5;
}
.etlms-social-share-wrap .s_tumblr i {
	color: #fff;
	background-color: #000;
}
.etlms-share-btn i {
	color: #fff;
}
.etlms-social-icon-none .etlms-share-btn i {
	background-color: transparent !important;
}
.etlms-social-icon-rounded .etlms-share-btn i {
	width: 20px !important;
	height: 20px !important;
	padding: 10px;
	border-radius: 15% !important;
}
.etlms-social-icon-square .etlms-share-btn i {
	width: 20px !important;
	height: 20px !important;
	padding: 10px;
	border-radius: 0px !important;
}
.etlms-social-icon-circle .etlms-share-btn i {
	width: 20px !important;
	height: 20px !important;
	padding: 10px;
	border-radius: 50% !important;
}

/*course curriculum */
.etlms-course-curriculum-title {
	padding: 14px 20px;
	cursor: pointer;
}
#etlms-course-topic-icon {
	margin-right: 5px;
}

/*course topics*/
#topic-toggle {
	background: #ccc;
	color: #fff;
	height: 15px;
	width: 15px;
	text-align: center;
	display: inline-block;
	line-height: 15px;
	font-size: 15px;
	border-radius: 50%;
}
.etlms-topic-icon-align-left .etlms-course-curriculum-title > h4 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3px;
}
.etlms-topic-icon-align-right .etlms-course-curriculum-title > h4 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	column-gap: 8px;
}


/*course carousel and course list*/
.etlms-card {
	overflow: hidden;
}
.etlms-carousel-main-wrap
.tutor-course-header img,
.etlms-course-list-main-wrap
.tutor-course-header img
{
	width: 100%;
	height: 100%;
}

/*for carousel height to be equal*/

.etlms-carousel-main-wrap
.slick-track
{
    display: flex !important;
}
.etlms-carousel-main-wrap
.slick-slide
{
    height: inherit !important;
}


.etlms-course-list .tutor-courses-wrap,
.etlms-course-carousel .tutor-courses-wrap {
	margin: 0;
}

.etlms-course-carousel div[class*="tutor-course-col"] {
	margin-bottom: 15px;
}

/*
@classic style
*/
.etlms-coursel-classic .etlms-card,
.etlms-course-list-classic .etlms-card
{
	border-radius: 8px;
	border: 1px solid #EBEBEB;
	overflow: hidden;
}

.etlms-coursel-classic .etlms-card,
.etlms-course-list-classic .etlms-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	border-radius: 8px;
}
/*
@card style
*/
.etlms-coursel-card .etlms-card,
.etlms-course-list-card .etlms-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	overflow: hidden;
}
.etlms-coursel-card .etlms-card:hover,
.etlms-course-list-card .etlms-card:hover {
	box-shadow: 0px 2px 16px rgb(0 0 0 / 31%);
}

/*
@stacked style
*/
.etlms-coursel-stacked .tutor-course-header, 
.etlms-course-list-stacked .tutor-course-header
{
	border-radius: 10px;
	overflow: hidden;
}

.etlms-coursel-stacked .etlms-card .tutor-course-header,
.etlms-course-list-stacked .etlms-card .tutor-course-header {
	z-index: 1;
}

/*
@overflow visible for stacked 
@to show box shadow
*/
.etlms-coursel-stacked
.etlms-card,
.etlms-course-list-stacked
.etlms-card {
	overflow: visible !important;
}

.etlms-coursel-stacked 
.etlms-carousel-course-container,
.etlms-course-list-stacked 
.etlms-carousel-course-container {
	z-index: 99;
	margin-top: -80px;
	background: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
	
}
.etlms-coursel-stacked 
.etlms-carousel-course-container:hover,
.etlms-course-list-stacked 
.etlms-carousel-course-container:hover {
	box-shadow: 0px 34px 28px -20px rgb(0 0 0 / 35%);
}
/*
	@overlayed styles
*/

.etlms-course-list-classic
.tutor-course-header:before,
.etlms-course-list-card
.tutor-course-header:before,
.etlms-course-list-stacked
.tutor-course-header:before,
.etlms-coursel-classic
.tutor-course-header:before,
.etlms-coursel-card
.tutor-course-header:before,
.etlms-coursel-stacked
.tutor-course-header:before
 {
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	z-index: 2;
}

.etlms-coursel-overlayed 
.etlms-card,
.etlms-course-list-overlayed 
.etlms-card {
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	position: relative;
	height: 300px;
}


.etlms-coursel-overlayed 
.etlms-card:before,
.etlms-course-list-overlayed 
.etlms-card:before {
	background-image: none;
	background-color: rgba(0,0,0,0.35);
	position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    -webkit-transition: .4s;
    transition: .4s;	
}

.etlms-coursel-overlayed
.tutor-course-header,
.etlms-course-list-overlayed
.tutor-course-header
{
	z-index: 2;
	height: 100%;
}
.etlms-coursel-overlayed
.etlms-carousel-course-container,
.etlms-course-list-overlayed
.etlms-carousel-course-container
{
	position: absolute;
	z-index: 99;
	width: 100%;
	bottom:0 !important;
}

.etlms-coursel-overlayed .tutor-rating-count,
.etlms-coursel-overlayed .tutor-course-loop-title h2 a,
.etlms-coursel-overlayed .tutor-course-loop-meta,
.etlms-coursel-overlayed .tutor-loop-author>div a,
.etlms-coursel-overlayed .etlms-loop-cart-btn-wrap a,
.etlms-coursel-overlayed .price,
/*style for course list*/
.etlms-course-list-overlayed .tutor-rating-count,
.etlms-course-list-overlayed .tutor-course-loop-title h2 a,
.etlms-course-list-overlayed .tutor-course-loop-meta,
.etlms-course-list-overlayed .tutor-loop-author>div a,
.etlms-course-list-overlayed .etlms-loop-cart-btn-wrap a,
.etlms-course-list-overlayed .price {
	color: #fff;
}
.etlms-carousel-arrow-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	left: 0px;
	font-size: 20px;
	cursor: pointer;
}
.etlms-carousel-arrow-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	right: 0px;
	font-size: 20px;
	cursor: pointer;
}
.etlms-carousel-arrow-prev {
	margin-left: -10px;
}
.etlms-carousel-arrow-next {
	margin-right: -10px;
}
.etlms-carousel-arrow-prev.etlms-carousel-arrow-position-outside {
	margin-left: -40px;
}
.etlms-carousel-arrow-next.etlms-carousel-arrow-position-outside {
	margin-right: -40px;
}
.arrow-ghost {
	text-align: center;
	line-height: 100%;
}
.etlms-carousel-arrow.arrow-ghost > i {
	width: 20px;
	height: 20px;
	border: 1px solid;
}
.etlms-carousel-arrow.arrow-fill > i {
	width: 20px;
	height: 20px;
	background-color: #424242;
	text-align: center;
	line-height: 100%;
	color: #fff;
}
.etlms-carousel-main-wrap .price,
.etlms-course-list-main-wrap .price {
	display: flex;
}
.etlms-carousel-main-wrap .etlms-loop-cart-btn-wrap,
.etlms-course-list-main-wrap .etlms-loop-cart-btn-wrap {
	margin-left: 10px;
}
.enroll-button-align-left .etlms-loop-cart-btn-wrap {
	margin-right: auto;
}
.enroll-button-align-center .etlms-loop-cart-btn-wrap {
	margin-left: auto;
	margin-right: auto;
}
.enroll-button-align-right .etlms-loop-cart-btn-wrap {
	margin-left: auto;
}
.masonry {
	display: flex;
	flex-flow: row wrap;
	margin-left: -8px;
	/* Adjustment for the gutter */
	width: 100%;
}
.masonry-brick {
	flex: auto;
	min-width: 150px;
	margin: 0 8px 8px 0;
	/* Some gutter */
}
.masonry-brick:nth-child(4n + 1) {
	width: 250px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
	width: 180px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
	width: 325px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
	width: 380px;
}

.etlms-carousel-dots-inside .slick-dots {
	position: initial;
	margin-top: -120px;
}
/*course grid pagination*/
.etlms-pagination {
	display: flex;
	gap: 10px;
}

/*course list style 1 col*/
@media only screen and (min-width: 768px) {
	/* @list style main style */
	.etlms-course-list-style {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: nowrap !important;
		height: 255px;
	}

	.etlms-course-list-style .tutor-course-header {
		max-width: 40%;
		flex: 0 0 40% !important;
		height: 255px;
	}
	.etlms-course-list-style .etlms-carousel-course-container {
		max-width: 60%;
		flex: 0 0 60% !important;
		display: flex;
		flex-direction: column;
	}
	.etlms-course-list-style .etlms-carousel-footer {
		margin-top: auto;
	}

	.etlms-course-list-stacked
	.etlms-course-list-style
	.etlms-carousel-course-container
	{
		margin: auto 0 auto -42px;
	}
}	

/*tablet*/

@media only screen and (max-width: 768px) {
	/*layout css for :course level,categories,duration,course about*/
	/*display block*/
	.elementor-layout--tabletup .tutor-course-level > div,
	.elementor-layout--tabletup .etlms-single-course-meta-categories a,
	.elementor-layout--tabletup .etmls-single-course-meta-duration > a {
		display: block;
	}
	/*display inline-block*/
	.elementor-layout--tabletleft .tutor-course-level > div,
	.elementor-layout--tabletleft .etlms-single-course-meta-categories a,
	.elementor-layout--tabletleft .etmls-single-course-meta-duration > a {
		display: inline-block;
	}
	/*alignment css for: course level,categories,duration,course about*/
	/*left alignment*/
	.elementor-align--tabletleft .tutor-course-level,
	.elementor-align--tabletleft .etlms-single-course-meta-categories,
	.elementor-align--tabletleft .etmls-single-course-meta-duration,
	.elementor-align--tabletleft .etlms-course-summery {
		text-align: left;
	}
	/*right align*/
	.elementor-align--tabletright .tutor-course-level,
	.elementor-align--tabletright .etlms-single-course-meta-categories,
	.elementor-align--tabletright .etmls-single-course-meta-duration,
	.elementor-align--tabletright .etlms-course-summery {
		text-align: right;
	}
	/*center align*/
	.elementor-align--tabletcenter .tutor-course-level,
	.elementor-align--tabletcenter .etlms-single-course-meta-categories,
	.elementor-align--tabletcenter .etmls-single-course-meta-duration,
	.elementor-align--tabletcenter .etlms-course-summery {
		text-align: center;
	}
	/*justify alignment*/
	.elementor-align--tabletjustify .etlms-course-summery {
		text-align: justify;
	}
	/*flext alignement*/
	/*social share*/
	.elementor-align--tabletleft .etlms-social {
		justify-content: flex-start;
	}
	.elementor-align--tabletright .etlms-social {
		justify-content: flex-end;
	}
	.elementor-align--tabletcenter .etlms-social {
		justify-content: center;
	}
	/*course topics*/
	.etlms-topic-icon-align--tabletleft .etlms-course-curriculum-title > h4,
	.etlms-assignment-icon-align--tabletleft .etlms-course-assignment h5,
	.etlms-quiz-icon-align--tabletleft .etlms-course-quiz h5 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		column-gap: 3px;
	}
	.etlms-topic-icon-align--tabletright .etlms-course-curriculum-title > h4,
	.etlms-assignment-icon-align--tabletright .etlms-course-assignment h5,
	.etlms-quiz-icon-align--tabletright .etlms-course-quiz h5 {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		column-gap: 8px;
	}
}
/*mobile*/

@media only screen and (max-width: 576px) {
	/*layout css for :course level,categories,duration*/
	/*display block*/
	.elementor-layout--mobileup .tutor-course-level > div,
	.elementor-layout--mobileup .etlms-single-course-meta-categories a,
	.elementor-layout--mobileup .etmls-single-course-meta-duration > a {
		display: block;
	}
	/*display inline-block*/
	.elementor-layout--mobileleft .tutor-course-level > div,
	.elementor-layout--mobileleft .etlms-single-course-meta-categories a,
	.elementor-layout--mobileleft .etmls-single-course-meta-duration > a {
		display: inline-block;
	}
	/*alignment css for: course level,categories,duration*/
	/*left alignment*/
	.elementor-align--mobileleft .tutor-course-level,
	.elementor-align--mobileleft .etlms-single-course-meta-categories,
	.elementor-align--mobileleft .etmls-single-course-meta-duration,
	.elementor-align--mobileleft .etlms-course-summery {
		text-align: left;
	}
	/*right align*/
	.elementor-align--mobileright .tutor-course-level,
	.elementor-align--mobileright .etlms-single-course-meta-categories,
	.elementor-align--mobileright .etmls-single-course-meta-duration,
	.elementor-align--mobileright .etlms-course-summery {
		text-align: right;
	}
	/*center align*/
	.elementor-align--mobilecenter .tutor-course-level,
	.elementor-align--mobilecenter .etlms-single-course-meta-categories,
	.elementor-align--mobilecenter .etmls-single-course-meta-duration,
	.elementor-align--mobilecenter .etlms-course-summery {
		text-align: center;
	}
	/*justify alignment*/
	.elementor-align--mobilejustify .etlms-course-summery {
		text-align: justify;
	}
	/*flext alignement*/
	.elementor-align--mobileleft .etlms-social {
		justify-content: flex-start;
	}
	.elementor-align--mobileright .etlms-social {
		justify-content: flex-end;
	}
	.elementor-align--mobilecenter .etlms-social {
		justify-content: center;
	}
	/*course topics*/
	.etlms-topic-icon-align--mobileleft .etlms-course-curriculum-title > h4,
	.etlms-assignment-icon-align--mobileleft .etlms-course-assignment h5,
	.etlms-quiz-icon-align--mobileleft .etlms-course-quiz h5 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		column-gap: 3px;
	}
	.etlms-topic-icon-align--mobileright .etlms-course-curriculum-title > h4,
	.etlms-assignment-icon-align--mobileright .etlms-course-assignment h5,
	.etlms-quiz-icon-align--mobileright .etlms-course-quiz h5 {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		column-gap: 8px;
	}
}